<div class="principal">
  



<div class="skills">
  <ul class="lines">
    <li class="line l--0">
      <span class="line__label title">
        Skill level:
      </span>
    </li>
    <li class="line l--25">
      <span class="line__label">
        The basics
      </span>
    </li>
    <li class="line l--50">
      <span class="line__label">
        Advanced
      </span>
    </li>
    <li class="line l--75">
      <span class="line__label">
        Seasoned
      </span>
    </li>
    <li class="line l--100">
      <span class="line__label">
        Expert
      </span>
    </li>
  </ul>
  
  <div class="charts">
    <div class="chart chart--dev">
      <span class="chart__title">Development</span>
      <ul class="chart--horiz">
        <li class="chart__bar" style="width: 80%;">
          <span class="chart__label">
            HTML5
          </span>
        </li>
        <li class="chart__bar" style="width: 50%;">
          <span class="chart__label">
            CSS 
          </span>
        </li>
        <li class="chart__bar" style="width: 20%;">
          <span class="chart__label">
            JavaScript
          </span>
        </li>
        <li class="chart__bar" style="width: 20%;">
          <span class="chart__label">
            AngularJS
          </span>
        </li>
        <li class="chart__bar" style="width: 80%;">
          <span class="chart__label">
            MySql
          </span>
        </li>
        <li class="chart__bar" style="width: 60%;">
          <span class="chart__label">
            JAVA
          </span>
        </li>
        <li class="chart__bar" style="width: 75%;">
          <span class="chart__label">
            C / C++
          </span>
        </li>
        <li class="chart__bar" style="width: 25%;">
          <span class="chart__label">
            Visual Basic 6
          </span>
        </li>
        <li class="chart__bar" style="width: 0%;">
          <span class="chart__label">
            
          </span>
        </li>
        <li class="chart__bar" style="width: 0%;">
          <span class="chart__label">
            
          </span>
        </li>
        <li class="chart__bar" style="width: 0%;">
          <span class="chart__label">
            
          </span>
        </li>
      </ul>
    </div>
    
    <div class="chart chart--prod">
      <span class="chart__title">Productivity</span>
      <ul class="chart--horiz">
      <li class="chart__bar" style="width: 75%;">
        <span class="chart__label">
          Git + Github
        </span>
      </li>
      <li class="chart__bar" style="width: 95%;">
        <span class="chart__label">
          Paquete Office
        </span>
      </li>
    </ul>
    </div>
    
    <div class="chart chart--design">
      <span class="chart__title">Design</span>
      <ul class="chart--horiz">
      <li class="chart__bar" style="width: 0%;">
        <span class="chart__label">
          
        </span>
      </li>
      <li class="chart__bar" style="width: 0%;">
        <span class="chart__label">
          
        </span>
      </li>
      <li class="chart__bar" style="width: 5%;">
        <span class="chart__label">
          
        </span>
      </li>
      <li class="chart__bar" style="width: 0%;">
        <span class="chart__label">

        </span>
      </li>
    </ul>
    </div>
  </div>
</div>


</div>