<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/MiFoto.png" class="img-fluid" alt="">

        </div>
        <div id="nombreyfull" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" col>

            <p id="nombre">Carlos Massa Beloso</p>
            <p>Full Stack Developer Jr</p>

        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae reprehenderit odio incidunt obcaecati, sint tempora asperiores saepe amet necessitatibus quasi quos vel, a consequuntur, totam non deleniti sit fugiat officiis.</p>
            </span>
        </div>
    </div>
</div>