<div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="nombreEmpresaE">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nombreEmpresaE" name="nombreEmpresaE" [(ngModel)]="educacion.nombreEmpresaE" required>
                </div>
                <div class="form-group">
                    <label for="fechasE">Fechas</label>
                    <input type="text" class="form-control" id="fechasE" name="fechasE" [(ngModel)]="educacion.fechasE" required>
                </div>
                <button class="btn btn-primary">
                    Editar educacion
                </button>
            </form>
        </div>
    </div>
</div>