
body{background-color: #12192c; padding-top: 30px; padding-bottom: 30px ; border: #fff;} 
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
*,::after,::before{box-sizing:border-box;}
h3,h5{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem; }
ul{margin-top:0;margin-bottom:1rem;}
h3,h5{margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h3{font-size:1.75rem;}
h5{font-size:1.25rem;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}

.col-lg-12,.col-lg-6{position:relative;width:100%;padding-right:15px;padding-left:15px;}


@media (min-width:992px){
.col-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
.col-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
@media (min-width:992px){
.d-lg-flex{display:-ms-flexbox!important;display:flex!important;}
}
@media (min-width:992px){
.text-lg-right{text-align:right!important;}
}


span{display:inline-block;}
h3,h5{font-family:"Montserrat",sans-serif;font-weight:700;color:#fff;margin:0;}
h3{font-size:28px;}
h5{font-size:18px;}
ul{margin:0;padding:0;list-style-type:none;}
p{font-size:18px;font-weight:600;line-height:24px;color:#12192c;margin:0;}
.section_title .sub_title{font-size:20px;font-weight:600;color:#f9ca00;}
@media (max-width:767px){
.section_title .sub_title{font-size:16px;}
}

.section_title .line{padding-top:10px;}
.section_title .line li{display:inline-block;background-color:#f9ca00;border-radius:50px;height:3px;}
.section_title .line li:nth-of-type(1){width:64px;}

.work_experience{position:relative;margin-top:30px;}
@media only screen and (min-width:768px) and (max-width:991px){
.work_experience{margin-top:0;}
}
@media (max-width:767px){
.work_experience{margin-top:0;}
}
.work_experience::before{position:absolute;content:'';left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);top:0;width:2px;height:100%;background-color:#f9ca00;}
@media only screen and (min-width:768px) and (max-width:991px){
.work_experience::before{display:none;}
}
@media (max-width:767px){
.work_experience::before{display:none;}
}
@media only screen and (min-width:768px) and (max-width:991px){
.single_experience{margin-top:25px;}
}
@media (max-width:767px){
.single_experience{margin-top:25px;}
}
.single_experience .experience_title{width:46%;}
@media only screen and (min-width:768px) and (max-width:991px){
.single_experience .experience_title{width:100%;}
}
@media (max-width:767px){
.single_experience .experience_title{width:100%;}
}
.single_experience .experience_title .title{font-size:25px;font-weight:600;}
@media (max-width:767px){
.single_experience .experience_title .title{font-size:20px;}
}
.single_experience .experience_title p{color:#f9ca00;font-size:16px;font-weight:600;font-family:"Open Sans",sans-serif;margin-top:10px;}
@media (max-width:767px){
.single_experience .experience_title p{font-size:15px;}
}
.single_experience .experience_title .date{font-size:16px;font-weight:600;color:#fff;font-family:"Open Sans",sans-serif;margin-top:10px;}
@media (max-width:767px){
.single_experience .experience_title .date{font-size:15px;}
}
.single_experience .experience_number{width:8%;text-align:center;}
@media only screen and (min-width:768px) and (max-width:991px){
.single_experience .experience_number{display:none;}
}
@media (max-width:767px){
.single_experience .experience_number{display:none;}
}
.single_experience .experience_number span{width:55px;height:55px;line-height:51px;text-align:center;border:2px solid #f9ca00;font-size:20px;font-family:"Open Sans",sans-serif;color:#f9ca00;border-radius:50%;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;background-color:#fff;}
.single_experience .experience_content{-webkit-box-shadow:0 0 10px 0 rgba(196,196,196,.3);-moz-box-shadow:0 0 10px 0 rgba(196,196,196,.3);box-shadow:0 0 10px 0 rgba(196,196,196,.3);padding:30px;border-radius:10px;background-color:#fff;width:46%;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;}
@media only screen and (min-width:768px) and (max-width:991px){
.single_experience .experience_content{width:100%;margin-top:30px;}
}
@media (max-width:767px){
.single_experience .experience_content{width:100%;margin-top:30px;padding:20px;}
}

